.container {
    padding: 50px 50px;
    width: 90vw;
    height: 65vh;
}

.mat-button{
    background-color: #f75930;
    color: #fff;
    border-radius: 1px;
    padding: 15px;
    border: none;
    margin-bottom: 15px;
    font-weight: 550;
    font-size: 15px;
    cursor: pointer;
}

.button-icon{
    color: #fff;
}

.mat-elevation-z8{
    background-color: #f75930;
    border: none;
}

.text{
    color: #fff;
}
