<h1 NgIf="!isChange" mat-dialog-title>Create Employee</h1>
<h1 NgIf="isChange" mat-dialog-title>Edit Employee</h1>

<mat-dialog-content>
    <p>What's your name</p>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput model="data.name" />
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-content>
    <p>What's your Occupation</p>
    <mat-form-field>
        <mat-label>Occupation</mat-label>
        <input matInput model="data.occupation" />
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-content>
    <p>What's your Team</p>
    <mat-form-field>
        <mat-label>Team</mat-label>
        <input matInput model="data.team" />
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button NgIf="!isChange" mat-button [mat-dialog-close]="data" cdkFocusInitial>Create</button>
    <button NgIf="isChange" mat-button [mat-dialog-close]="data" cdkFocusInitial>Edit</button>
</mat-dialog-actions>